<p id="notice"><%= notice %></p>
<br>
<br>
<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3 text-center">

  <h1>
    Escape Atlanta
  </h1>
  <h3>
    Give us your address and we will help you escape!
  </h3>

    <%= render 'form', location: @location %>
  </div>
</div>
